*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GothamBold;
    src: url("../font/GothamHTF-Bold.otf");
}
@font-face {
    font-family: GothamLight;
    src: url("../font/GothamRnd-Light.otf");
}
@font-face {
    font-family: GothamRegular;
    src: url("../font/GothamRnd-Book.otf");
}
@font-face {
    font-family: GothamCondensedBold;
    src: url("../font/GothamCondensed-Bold.otf");
}
@font-face {
    font-family: GothamCondensedMedium;
    src: url("../font/GothamCondensed-Medium.otf");
}
@font-face {
    font-family: GothamCondensedLightRegular;
    src: url("../font/GothamCondensed-Light-Regular.otf");
}
@font-face {
    font-family: GothamCondensedLight;
    src: url("../font/GothamCondensed-Light.otf");
}

img {width: 100%;}
#header-container{
    width: 100vw;
    height: 100px;
    background-origin: border-box;
    position: fixed;
    background: #fff;
    opacity: 0.9;
    z-index: 10;
}

.header-shadow{
  box-shadow: 0 3px 5px #aaa;
}

.logo-box{
    display: block;
    padding: 20px 30px;
    width: 120px;
    float: left;
}

#nav-header{
    display: block;
    padding: 20px;
    float: right;
}
.close{display: none;}
.header-deco1{display: none;}
#nav-list{
    list-style-type: none;
    padding: 5px;
}

#nav-list li{
    display: inline;
    font-size: 18px;
    padding: 0 10px;
    font-family: "GothamLight";
}

a{
  color: #000;
}
a:hover{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-item{
    padding: 5px;
}
.nav-brochure{
    padding: 5px;
    padding-top: 8px;
    border: 1px solid #000;
}
.darrow{ font-size: 25px; border: 1px solid #000; padding: 2px; padding-bottom: 4px;}

.home-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    top: 100px;
}

.home-container span{ display: inline-block;}

.background-text{
  width: 100%;
  position: fixed;
  top: 100px;
  font-size: 170px;
  line-height: normal;
  font-family: "GothamBold";
  left: 42%;
  z-index: -1;
}

.foreground-text{
  position: fixed;
  width: 100%;
  top: 270px;
  font-size: 170px;
  line-height: normal;
  font-family: "GothamBold";
  left: 64%;
  z-index: 2;
}

.bold-line{
  position: fixed;
}
.bold-first{z-index: -1; left: -13%; width: 30%;}
.bold-second{z-index: 2; left: calc(100vw - 25%); top: 270px; width: 30%;}

.fixed-parallax-symbol{
  position: fixed;
  width: 8%;
  z-index: 2;
  left: calc(100vw - 15%);
  top: 190px;
}
.fixed-parallax-circles{
  position: fixed;
  width: 17%;
  z-index: 2;
  left: 22%;
  top: 150px;
}

.view-product-img{
  position: relative;
  top: 140px;
  width: 83%;
  z-index: 1;
}

.view-product-container{
  position: absolute;
  top: 140px;
  padding: 50px;
  font-size: 25px;
  font-family: "GothamBold";
  line-height: normal;
  color: #000;
  z-index: 3;
}
.view-product-box{
  position: relative;
  border: 1px solid #000;
  padding: 30px;
  color: #fff;
}
.view-product-text{
  padding: 0 20px;
}
.view-product-text span{
  color: #000;
  font-size: 14px;
}
.circle-lines{
  position: absolute;
  left: 8%;
  width: 12%;
  z-index: 1;
  padding-top: 40px;
}
.skewcircle{
  position: absolute;
  width: 27%;
  left: calc(100vw - 31%);
  z-index: 1;
}
.line-seperator-first{top: 140px;}
.line-seperator{
  position: relative;
  width: 100%;
  padding: 50px;
  z-index: 1;
  overflow: hidden;
}
.line-seperator img{
  display: block;
  position: relative;
  width: 14px;
  margin: 0 auto;
}
.side-blue-deco{
  position: absolute;
  width: 34%;
  margin-top: 200px;
  left: calc(100vw - 33%);
}

.about-us-container{
  position: absolute;
  margin-top: 140px;
  padding: 50px;
  font-size: 25px;
  font-family: "GothamBold";
  line-height: normal;
  color: #000;
  left: 9%;
  z-index: 3;
}
.about-us-box{
  position: relative;
  border: 1px solid #000;
  padding: 30px;
  color: #fff;
}
.about-us-text{
  padding: 0 20px;
}
.about-us-text span{
  color: #000;
  font-size: 14px;
}
.about-us-img{
  position: relative;
  top: 140px;
  width: 71%;
  left: -8%;
  height: 100%;
  z-index: 1;
}
.kors-colormatic{
  font-size: 110px;
  position: absolute;
  line-height: normal;
  z-index: 3;
  text-align: center;
  width: 100%;
  font-family: "GothamBold";
}
.about-kors{
  position: absolute;
  display: flex;
  left: 60%;
  width: 20%;
  top: 100px;
  flex-direction: column;
}
.about-colormatic{
  position: absolute;
  display: flex;
  width: 20%;
  top: 350px;
  flex-direction: column;
  left: 52%;
}

.circle-without-cross{
  position: absolute;
  width: 33%;
  margin-top: -150px;
  z-index: 2;
  left: 58%;
  filter: drop-shadow(0px 0px 20px #888);
}
.circle-cross{
  position: absolute;
  width: 66px;
  width: 5%;
  margin-top: -140px;
  z-index: 2;
  left: calc(84%);
}
.side-pink-deco{
  position: absolute;
  width: 32%;
  left: -1%;
  z-index: 2;
  margin-top: 70px;
}
.cosmo-silky-container{
  position: relative;
  width: 100%;
  font-size: 130px;
  font-family: "GothamBold";
  line-height: normal;
  margin-top: 60px;
  overflow: hidden;
  z-index: 2;
}
.cosmo-silky-top-text{
  position: relative;
  left: 13%;
}

.cosmo-silky-bottom-text{
  position: relative;
  left: 38%;
}
.hair-care-container{
  position: relative;
  width: 100%;
}
.hair-care-img-container{
  position: relative;
  left: 8%;
  overflow: hidden;
  width:48%;
}
.hair-care-img{}
.hair-care-text{
  position: absolute;
  line-height: normal;
  font-size: 170px;
  left: 50%;
  z-index: 1;
  font-family: "GothamCondensedBold";
  top: calc(50% - 90px);
}
.hair-care-arrows{
  position: absolute;
  width: 4%;
  left: 35%;
  top: 67%;
  z-index: 1;
}
.hair-care-dots{
  position: absolute;
  left: 45%;
  width: 17%;
  top: 70%;
}
.skin-care-container{
  margin-top: 150px;
  position: relative;
  width: 100%;
}
.skin-care-img-container{
  position: relative;
  left: calc(100vw - 56%);
  overflow: hidden;
  width:48%;
}
.skin-care-img{
  position: relative;
  display: block;
}
.skin-care-text{
  position: absolute;
  line-height: normal;
  font-size: 170px;
  left: 15%;
  z-index: 1;
  font-family: "GothamCondensedBold";
  top: calc(50% - 100px);
}
.skin-care-symbol{
  position: absolute;
  width: 18%;
  left: 12%;
  top: -6%;
}
.skin-care-circles{
  position: absolute;
  top: 72%;
  width: 100%;
}
.skin-care-yellow-circle{
  position: absolute;
  width: 13%;
  filter: drop-shadow(0px 0px 20px #888);
  left: 39%;
}
.skin-care-strip-circles{
  position: absolute;
  width: 13%;
  top: 7px;
  left: calc(36%);
}
.gentlemen-container{
  position: relative;
  width: 100%;
  margin-top: 150px;
}
.gentlemen-img-container{
  position: relative;
  left: 8%;
  overflow: hidden;
  width:48%;
}
.gentlemen-img{
  position: relative;
  display: block;
}
.gentlemen-text{
  position: absolute;
  line-height: normal;
  font-size: 170px;
  left: 50%;
  z-index: 1;
  font-family: "GothamCondensedBold";
  top: calc(50% - 100px);
}
.gentlemen-circles{
  position: absolute;
  left: 54%;
  width: 17%;
  top: 280px;
  top: 70%;
}
.gentlemen-strips{
  position: absolute;
  left: calc(100vw - 27%);
  width: 19%;
  top: 0px;
}
.private-label-container{
  margin-top: 200px;
  position: relative;
  width: 100%;
}
.private-label-img-container{
  position: relative;
  left: calc(100vw - 56%);
  width:48%;
}
.private-label-img{
  position: relative;
  display: block;
}
.private-label-label{
  position: absolute;
  width: 18%;
  left: 73%;
  top: 4%;
  z-index: 1;
}
.private-label-text{
  position: absolute;
  line-height: normal;
  font-size: 170px;
  left: 15%;
  z-index: 1;
  font-family: "GothamCondensedBold";
  top: 20px;
}
.private-label-arrow{
  position: absolute;
  top: 30px;
  z-index: 1;
  width: 13%;
  left: 39%;
}
.private-label-dots{
  position: absolute;
  top: 74%;
  z-index: 1;
  width: 16%;
  left: 42%;
}
.private-label-circles{
  position: absolute;
  top: 43%;
  width: 24%;
  left: 2.5%;
}
.private-label-tag{
  position: relative;
  width: 100%;
  line-height: normal;
  text-align: right;
  padding: 0 8%;
  margin-top: -40px;
  font-size: 25px;
  font-weight: bold;
  font-family: "GothamBold";
}
.design-space-crosses{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.deco-cross{
  padding: 16% 0 13% 0;
  display: block;
  margin: auto;
  width: 55%;
}
.deco-cross-img{
  position: relative;
}
.side-colors-deco{
  position: absolute;
  width: 16%;
  left: calc(100vw - 17%);
  top: 18%;
}
.deco-up-arrows{
  position: absolute;
  width: 1.7%;
  top: 18%;
  left: 25%;
}
.deco-down-arrows{
  position: absolute;
  width: 5%;
  top: 32%;
  left: 16%;
}
.deco-dots-top{
  position: absolute;
  width: 24px;
  width: 2%;
  top: 32%;
  left: 60%;
}
.deco-dots-bottom{
  position: absolute;
  width: 2%;
  top: 72%;
  left: 26%;
}
.deco-close-symbol{
  position: absolute;
  width: 3.4%;
  top: 62%;
  left: 35%;
}
.deco-small-circle{
  position: absolute;
  width: 5%;
  top: 73%;
  left: 5%;
}
.blog-container{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.left-blog-switch{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: 2%;
  width: 10%;
  max-width: 160px;
}
.blogs-images-container{
  display: block;
  position: relative;
  width: 60%;
  max-width: 800px;
  overflow: hidden;
}
.blogs-images{
  display: block;
  position: relative;
  width: calc(4 * 100%);
  display: flex;
}
.right-blog-switch{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: 2%;
  width: 10%;
  max-width: 160px;
}
.blogs-images img{
  height: 400px;
}
.blog-title{
  position: absolute;
  width: 100%;
  top: -200px;
  z-index: 1;
  line-height: normal;
  font-size: 300px;
  font-style: italic;
  text-align: center;
  font-family: "GothamCondensedBold";
}
.follow-us-container{
  position: relative;
  padding: 60px 80px;
  overflow: hidden;
}
.follow-left-deco{
  position: absolute;
  left: -1%;
  width: 22%;
  top: 40%;
}
.follow-dots{
  position: absolute;
  left: calc(100vw - 9%);
  width: 3.4%;
  top: 35%;
}
.follow-arrows{
  position: absolute;
  left: 16%;
  width: 2.1%;
  top: 58%;
}
.follow-right-deco{
  position: absolute;
  left: calc(100vw - 12%);
  width: 12%;
  top: 60%;
}
.follow-us-title{
  position: relative;
  text-align: left;
  font-size: 65px;
  line-height: normal;
  font-family: "GothamCondensedLightRegular";
  font-weight: bold;
}
.follow-contatiner{
  position: relative;
  display: flex;
  width: calc(100vw - 15%);
}
.facebook-follow, .instagram-follow{
  position: relative;
  width: 50%;
  height: calc((85vw) / 2);
  padding: 50px;
}
.facebook{background: #999; width: 100%; height: 100%;}
.instagram{background: #777; width: 100%; height: 100%;}
.facebook img{ width: 100%; height: 100%;}
.instagram img{ width: 100%; height: 100%;}
.fb-cover, .insta-cover{position: relative; top: -100%;}

.email-subscribe-container{
  position: relative;
  display: flex;
  padding: 50px;
  margin-top: 200px;
  justify-content: center;
}

.line-svg{
  align-items: center;
  width: 33%;
  padding: 36px 0;
}
.email-subscribe{
  position: relative;
  padding: 0 50px;
  width: 34%;
}
.email{
  position: relative;
  font-size: 20px;
  /* line-height: normal; */
  font-family: "GothamCondensedMedium";
  text-align: center;
  color: #000;
  padding: 10px;
  border: 1px solid #000;
}
.subscribe{
  position: relative;
  font-size: 20px;
  /* line-height: normal; */
  font-family: "GothamCondensedMedium";
  color: #fff;
  padding: 10px;
  background: #000;
  text-align: center;
}

.footer{
  position: relative;
  padding: 20px 0;
}
.footer-link-line-seperator{
  position: relative;
  width: 100%;
  padding: 10px 20%;
  display: none;
}
.footer-line-seperator{
  position: relative;
  width: 100%;
  padding: 5px 40%;
  display: none;
}
.footer-top-line{
  width: 100%;
  height: 1px;
  background: #000;
}
.footer-link-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.footer-section{
  display: flex;
  width: 33.33%;
  flex-direction: column;
}
.footer-links{
  text-align: center;
  font-family: "GothamCondensedLight";
  font-weight: bolder;
  font-size: 24px;
  padding: 5px;
}
.footer-container{
  position: relative;
  display: flex;
}
.footer-text{
  width: 33%;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  font-size: 18px;
  font-family: "GothamCondensedLight";
  /* font-weight: bolder; */
  align-content: center;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  #header-container{height: 60px;}
  .logo-box{padding: 15px 20px; width: 80px;}
  .close{
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    opacity: 1;
    left: 88%;
    top: 3%;
    overflow: hidden;
  }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  #nav-header::before{
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px #000;
  }
  .close::before{ transform: rotate(45deg);}
  .close::after{ transform: rotate(-45deg);}
  .header-deco1{display: block; position: absolute; width: 36%; left: 65%; top: 30%; transform: rotateY(180deg);}
  #nav-header{display: none; position: absolute;overflow: hidden; height: 180px; background: #fff; top: 64px; padding-left: 0; border: 0.5px solid #000;}
  #nav-list{padding: 5px 0px; padding-right: 20px;}
  #nav-list li{display: block; font-size: 14px; padding: 2px 15px; padding-left: 0;}
  .nav-item{padding:  0px 15px; display: block; border-bottom: 1px solid #000; box-sizing: border-box;}
  .broucher-item{position: absolute; top: 140px; margin-top:5px ;left:45px; font-size: 12px;}
  .darrow{ font-size: 11px; padding: 2px; font-weight: bold;}
  .nav-brochure{padding: 2px; font-size: 11px;}
  .home-container{top: 60px;}
  .background-text{top: 60px; font-size: 64px;}
  .foreground-text{top: 140px; font-size: 64px; left: 55%;}
  .bold-second{top: 130px;}
  .fixed-parallax-symbol{top: 88px; left: 90%;}
  .fixed-parallax-circles{top: 100px;}
  .view-product-img{top: 55px; width: 94%;}
  .view-product-container{top: 7%; padding: 20px; font-size: 14px;}
  .view-product-box{ padding: 7px; color: #000;}
  .view-product-text{padding: 0 5px;}
  .view-product-text span{font-size: 8px;}
  .circle-lines{margin-top: -15px; padding-top: 0; left: 0;}
  .skewcircle{}
  .line-seperator-first{top: 60px; }
  .line-seperator img{width: 8px;}
  .side-blue-deco{ margin-top: 110px; width: 30%; left: calc(100vw - 27%);}
  .about-us-container{ margin-top: 20px; padding: 20px; font-size: 14px; left: 0;}
  .about-us-box{padding: 7px; color: #000;}
  .about-us-text{ padding: 5px 15px;}
  .about-us-text span{font-size: 8px;}
  .about-us-img{ top: 70px; width: 78%;}
  .kors-colormatic{font-size: 40px;}
  .about-kors{left: 68%; top: 20px;}
  .about-colormatic{left: 60%; top: 100px;}
  .circle-without-cross{ width: 30%; margin-top: 40px; left: 67%;}
  .circle-cross{margin-top: 44px; left: 92%}
  .side-pink-deco{margin-top: 120px;}
  .cosmo-silky-container{ font-size: 48px; margin-top: 35px;}
  .hair-care-img-container{width: 80%; left: 5%;}
  .hair-care-text{font-size: 64px; left: 0; top: 85%; right: 15%; text-align: right;}
  .hair-care-arrows{left: 10%; top: 75%;}
  .hair-care-dots{left: 68%; width: 32%; top: -210px}
  .skin-care-img-container{width: 80%; left: 15%;}
  .skin-care-text{font-size: 64px; left: 15%; top: 85%;}
  .skin-care-symbol{top: -55px; left: 70%;}
  .skin-care-circles{top: -15%;}
  .skin-care-yellow-circle{width: 25%; left: 10%;}
  .skin-care-strip-circles{width: 25%; left: 5%;}
  .gentlemen-img-container{left: 5%; width: 80%;}
  .gentlemen-text{font-size: 64px; text-align: right; right: 15%; left: 0; top: 82%;}
  .gentlemen-circles{top: -12%; left: 80%;}
  .gentlemen-strips{left: calc(100vw - 34%); top: 100%;}
  .private-label-img-container{left: 5%; width: 70%;}
  .private-label-label{width: 25%; left: 67%; top: -20%;}
  .private-label-text{font-size: 64px; top: -18%;left: 25%;}
  .private-label-text2{left: 55%; position: relative;}
  .private-label-arrow{left: 76%; top: 40%; width: 20%;}
  .private-label-dots{width: 24%; left: 78%; top: 100%;}
  .private-label-circles{left: 1%; top: 90%; }
  .private-label-tag{font-size: 12px; margin-top: -20px;}
  .design-space-crosses{margin-top: 50px;}
  .blog-container{height: 200px; margin-top: 50px;}
  .blogs-images-container{width: 100%;}
  .blogs-images img{height: 200px;}
  .blog-title{ font-size: 75px; top: -58px;}
  .follow-us-container{padding: 12px 20px;}
  .follow-us-title{ font-size: 32px;}
  .follow-contatiner{display: block; width: 50%; margin: auto;}
  .facebook-follow, .instagram-follow{ width: 100%; padding: 10px;}
  .follow-left-deco{ width: 36%; top: 10%;}
  .follow-dots{left: 80%; top: 25%;}
  .follow-arrows{width: 4%; top: 45%;}
  .follow-right-deco{width: 25%; left: 75%; top: 40%;}
  .email-subscribe-container{margin-top: 0px; display: block; padding: 20px 50px;}
  .line-svg{width: 100%; padding: 15px 0;}
  .line-svg2{display: none;}
  .email-subscribe{ padding: 0 20px; margin: auto; width: 100%;}
  .email{font-size: 12px;padding: 0px;}
  .subscribe{font-size: 12px; padding: 0;}
  .footer{padding: 0}
  .footer-link-line-seperator{display: block;}
  .footer-link-container{display: block;}
  .footer-section{width: 100%;}
  .footer-links{font-size: 16px; padding: 2px;}
  .footer-container{display: block;}
  .footer-line-seperator{display: block;}
  .footer-text{width: 100%; font-size: 12px;}
}
@media screen and (min-width: 320px) and (max-width: 350px) {
  .view-product-container{top: 6%;}
  .private-label-text{font-size: 48px;}
}

@media screen and (min-width: 351px) and (max-width: 400px) {
  .view-product-container{top: 6.5%;}
  .private-label-text{font-size: 56px;}
}

@media screen and (min-width: 421px) and (max-width: 650px) {
  #header-container{height: 70px;}
  .logo-box{padding: 15px 20px; width: 90px;}
  .close{
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    opacity: 1;
    left: 88%;
    top: 3%;
    overflow: hidden;
  }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  #nav-header::before{
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px #000;
  }
  .close::before{ transform: rotate(45deg);}
  .close::after{ transform: rotate(-45deg);}
  .header-deco1{display: block; position: absolute; width: 36%; left: 65%; top: 30%; transform: rotateY(180deg);}
  #nav-header{display: none; position: absolute;overflow: hidden; height: 180px; background: #fff; top: 74px; padding-left: 0; border: 0.5px solid #000;}
  #nav-list{padding: 5px 0px; padding-right: 20px;}
  #nav-list li{display: block; font-size: 14px; padding: 2px 15px; padding-left: 0;}
  .nav-item{padding:  0px 15px; display: block; border-bottom: 1px solid #000; box-sizing: border-box;}
  .broucher-item{position: absolute; top: 140px; margin-top:5px ;left:45px; font-size: 12px;}
  .darrow{ font-size: 11px; padding: 2px; font-weight: bold;}
  .nav-brochure{padding: 2px; font-size: 11px;}
  .home-container{top: 70px;}
  .background-text{top: 70px; font-size: 80px;}
  .foreground-text{top: 160px; font-size: 80px; }
  .bold-second{top: 150px;}
  .fixed-parallax-symbol{top: 100px; left: 80%;}
  .fixed-parallax-circles{top: 110px;}
  .view-product-img{top: 70px; width: 90%;}
  .view-product-container{top: 7.3%; left: 10%; padding: 30px; font-size: 18px;}
  .view-product-box{ padding: 15px; color: #000;}
  .view-product-text{padding: 0 10px;}
  .view-product-text span{font-size: 12px;}
  .circle-lines{margin-top: -15px; padding-top: 0; left: 0;}
  .skewcircle{}
  .line-seperator-first{top: 60px; }
  .line-seperator img{width: 8px;}
  .side-blue-deco{ margin-top: 110px; width: 30%; left: calc(100vw - 27%);}
  .about-us-container{ margin-top: 0px; margin-left: 10%; padding: 30px; font-size: 18px; left: 0;}
  .about-us-box{padding: 15px; color: #000;}
  .about-us-text{ padding: 0px 15px;}
  .about-us-text span{font-size: 12px;}
  .about-us-img{ top: 70px; width: 78%;}
  .kors-colormatic{font-size: 56px;}
  .about-kors{left: 68%; top: 50px;}
  .about-colormatic{left: 60%; top: 180px;}
  .circle-without-cross{ width: 24%; margin-top: 0px; left: 67%;}
  .circle-cross{margin-top: 4px; left: 86%}
  .side-pink-deco{margin-top: 120px;}
  .cosmo-silky-container{ font-size: 60px; margin-top: 25px;}
  .hair-care-img-container{width: 70%; left: 10%;}
  .hair-care-text{font-size: 80px; left: 0; top: 78%; right: 20%; text-align: right;}
  .hair-care-arrows{left: 15%; top: 65%;}
  .hair-care-dots{left: 75%; width: 26%; top: -210px}
  .skin-care-img-container{width: 70%; left: 20%;}
  .skin-care-text{font-size: 80px; left: 20%; top: 78%;}
  .skin-care-symbol{top: -60px; left: 70%;}
  .skin-care-circles{top: -12%;}
  .skin-care-yellow-circle{width: 20%; left: 10%;}
  .skin-care-strip-circles{width: 20%; left: 5%;}
  .gentlemen-img-container{left: 10%; width: 70%;}
  .gentlemen-text{font-size: 80px; text-align: right; right: 20%; left: 0; top: 80%;}
  .gentlemen-circles{top: -12%; left: 80%;}
  .gentlemen-strips{left: calc(100vw - 34%); top: 100%;}
  .private-label-img-container{left: 10%; width: 70%;}
  .private-label-label{width: 25%; left: 67%; top: -20%;}
  .private-label-text{font-size: 80px; top: -15%;left: 32%;}
  .private-label-text2{left: 55%; position: relative;}
  .private-label-arrow{left: 80%; top: 40%; width: 18%;}
  .private-label-dots{width: 24%; left: 78%; top: 100%;}
  .private-label-circles{left: 1%; top: 90%; }
  .private-label-tag{font-size: 15px; margin-top: -30px;}
  .design-space-crosses{margin-top: 50px;}
  .blog-container{height: 350px; margin-top: 50px;}
  .blogs-images-container{width: 80%;}
  .blogs-images img{height: 350px;}
  .blog-title{ font-size: 100px; top: -72px;}
  .follow-us-container{padding: 15px 24px;}
  .follow-us-title{ font-size: 40px;}
  .follow-contatiner{display: block; width: 50%; margin: auto;}
  .facebook-follow, .instagram-follow{ width: 100%; padding: 10px;}
  .follow-left-deco{ width: 36%; top: 10%;}
  .follow-dots{left: 80%; top: 25%;}
  .follow-arrows{width: 4%; top: 45%;}
  .follow-right-deco{width: 25%; left: 75%; top: 40%;}
  .email-subscribe-container{margin-top: 0px; width: 70%; margin: auto; display: block; padding: 20px 50px;}
  .line-svg{width: 100%; padding: 15px 0; }
  .line-svg2{display: none;}
  .email-subscribe{ padding: 0 20px; margin: auto; width: 100%;}
  .email{font-size: 15px;padding: 2px;}
  .subscribe{font-size: 15px; padding: 2px;}
  .footer{padding: 0}
  .footer-link-line-seperator{display: block;}
  .footer-link-container{display: block;}
  .footer-section{width: 100%;}
  .footer-links{font-size: 16px; padding: 2px;}
  .footer-container{display: block;}
  .footer-line-seperator{display: block;}
  .footer-text{width: 100%; font-size: 12px;}
}

@media screen and (min-width: 421px) and (max-width: 530px) {
  .kors-colormatic{font-size: 48px;}
  .about-kors{left: 68%; top: 50px;}
  .about-colormatic{left: 60%; top: 150px;}
  .view-product-container{top: 7%; left: 10%; padding: 30px; font-size: 18px;}
  .private-label-text{font-size: 70px; top: -18%;left: 29%;}
  .blog-container{height: 270px; margin-top: 50px;}
  .blogs-images-container{width: 90%;}
  .blogs-images img{height: 350px;}
  .blog-title{ font-size: 84px; top: -64px;}
  .email-subscribe-container{margin-top: 0px; width: 80%; margin: auto; display: block; padding: 20px 50px;}
}

@media screen and (min-width: 651px) and (max-width: 960px) {
  #header-container{height: 80px;}
  .logo-box{padding: 15px 20px; width: 100px;}
  #nav-list{padding: 5px 0px;}
  #nav-list li{ font-size: 16px; padding: 0 10px;}
  .darrow{ font-size: 24px; padding: 2px; padding-bottom: 4px; font-weight: bold;}
  .home-container{top: 80px;}
  .background-text{top: 80px; font-size: 120px;}
  .foreground-text{top: 240px; font-size: 120px; }
  .bold-second{top: 230px;}
  .fixed-parallax-symbol{top: 140px; left: 80%;}
  .fixed-parallax-circles{top: 150px;}
  .view-product-img{top: 100px; width: 85%;}
  .view-product-container{padding: 30px; font-size: 21px; top: 100px;}
  .view-product-box{ padding: 25px;}
  .view-product-text{padding: 0 10px;}
  .view-product-text span{font-size: 13px;}
  .line-seperator-first{top: 120px; }
  .about-us-container{padding: 30px; font-size: 21px; left: 7%;}
  .about-us-box{padding: 25px; color: #000;}
  .about-us-text{ padding: 0px 10px;}
  .about-us-text span{font-size: 13px;}
  .about-us-img{ top: 140px; width: 74%;}
  .kors-colormatic{font-size: 80px;}
  .about-kors{left: 64%; top: 100px;}
  .about-colormatic{left: 56%; top: 240px;}
  .circle-without-cross{ width: 30%; margin-top: 0px; left: 61%;}
  .circle-cross{margin-top: 4px; left: 85%}
  .cosmo-silky-container{ font-size: 90px; margin-top: 85px;}
  .hair-care-img-container{width: 60%; left: 8%;}
  .hair-care-text{font-size: 120px;  top: calc(50% - 70px);}
  .skin-care-img-container{width: 60%; left: 32%;}
  .skin-care-text{font-size: 120px;  top: calc(50% - 70px);}
  .skin-care-yellow-circle{ left: 27%;}
  .skin-care-strip-circles{ left: 24%;}
  .gentlemen-img-container{left: 8%; width: 60%;}
  .gentlemen-text{font-size: 120px; top: calc(50% - 70px); left: 40%;}
  .gentlemen-circles{left: 64%;}
  .private-label-text{font-size: 110px; top: 0px; left: 10%;}
  .private-label-arrow{left: 40%; top: 0px; width: 13%;}
  .private-label-tag{font-size: 20px; margin-top: -30px;}
  .blog-container{height: 380px; margin-top: 50px;}
  .blogs-images-container{width: 70%;}
  .blogs-images img{height: 380px;}
  .blog-title{ font-size: 200px; top: -142px;}
  .follow-us-container{padding: 40px 60px;}
  .follow-us-title{ font-size: 54px;}
  .facebook-follow, .instagram-follow{padding: 30px;}
  .email-subscribe-container{padding: 0}
  .line-svg{width: 30%; padding: 25px 0; }
  .email-subscribe{ padding: 0 30px; margin: auto; width: 40%;}
  .email{font-size: 18px;padding: 5px;}
  .subscribe{font-size: 18px; padding: 5px;}
  .footer{padding: 20px;}
  .footer-link-line-seperator{display: block;}
  .footer-link-container{display: block;}
  .footer-section{width: 100%;}
  .footer-links{font-size: 20px; padding: 6px;}
  .footer-container{display: block;}
  .footer-line-seperator{display: block;}
  .footer-text{width: 100%; font-size: 15px;}
}

@media screen and (min-width: 651px) and (max-width: 820px) {
.kors-colormatic{font-size: 72px;}
.about-kors{left: 64%; top: 80px;}
.about-colormatic{left: 56%; top: 220px;}
.blog-container{height: 350px; margin-top: 50px;}
.blogs-images-container{width: 80%;}
.blog-title{ font-size: 150px; top: -100px;}
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  #header-container{height: 90px;}
  /* .logo-box{padding: 15px 20px; width: 100px;} */
  /* #nav-list{padding: 5px 0px;} */
  /* #nav-list li{ font-size: 16px; padding: 0 10px;} */
  /* .darrow{ font-size: 24px; padding: 2px; padding-bottom: 4px; font-weight: bold;} */
  .home-container{top: 90px;}
  .background-text{top: 90px; font-size: 150px;}
  .foreground-text{top: 270px; font-size: 150px; }
  .bold-second{top: 260px;}
  .fixed-parallax-symbol{top: 150px; left: 84%;}
  .fixed-parallax-circles{top: 160px;}
  .view-product-img{top: 130px; width: 84%;}
  .kors-colormatic{font-size: 96px;}
  .about-kors{ top: 100px;}
  .about-colormatic{ top: 300px;}
  /* .view-product-container{padding: 30px; font-size: 21px; top: 100px;} */
  /* .view-product-box{ padding: 25px;} */
  /* .view-product-text{padding: 0 10px;} */
  /* .view-product-text span{font-size: 13px;} */
  /* .line-seperator-first{top: 120px; } */
  /* .about-us-container{padding: 30px; font-size: 21px; left: 7%;} */
  /* .about-us-box{padding: 25px; color: #000;} */
  /* .about-us-text{ padding: 0px 10px;} */
  /* .about-us-text span{font-size: 13px;} */
  /* .about-us-img{ top: 140px; width: 74%;} */
  /* .circle-without-cross{ width: 30%; margin-top: 0px; left: 61%;} */
  /* .circle-cross{margin-top: 4px; left: 85%} */
  .cosmo-silky-container{ font-size: 110px; margin-top: 80px;}
  /* .hair-care-img-container{width: 60%; left: 8%;} */
  .hair-care-text{font-size: 150px;  top: calc(50% - 80px);}
  /* .skin-care-img-container{width: 60%; left: 32%;} */
  .skin-care-text{font-size: 150px;  top: calc(50% - 80px);}
  /* .skin-care-yellow-circle{ left: 27%;} */
  /* .skin-care-strip-circles{ left: 24%;} */
  /* .gentlemen-img-container{left: 8%; width: 60%;} */
  .gentlemen-text{font-size: 140px; top: calc(50% - 80px); left: 50%;}
  /* .gentlemen-circles{left: 64%;} */
  .private-label-text{font-size: 140px; top: 0px; left: 10%;}
  /* .private-label-arrow{left: 40%; top: 0px; width: 13%;} */
  .private-label-tag{font-size: 22px; margin-top: -35px;}
  .blog-container{height: 380px; margin-top: 50px;}
  .blogs-images-container{width: 70%;}
  .blogs-images img{height: 380px;}
  .blog-title{ font-size: 240px; top: -172px;}
  .follow-us-container{padding: 50px 70px;}
  .follow-us-title{ font-size: 60px;}
  .facebook-follow, .instagram-follow{padding: 40px;}
  .email-subscribe-container{padding: 0}
  .line-svg{width: 30%; padding: 25px 0; }
  .email-subscribe{ padding: 0 30px; margin: auto; width: 40%;}
  .email{font-size: 19px;padding: 7px;}
  .subscribe{font-size: 19px; padding: 7px;}
}

@media screen and (min-width: 1081px) and (max-width: 1200px) {
  .gentlemen-text{font-size: 150px;}
  .private-label-text{font-size: 150px;}
  .private-label-tag{font-size: 24px; margin-top: -40px;}
  .blog-container{height: 400px; margin-top: 50px;}
  .blogs-images-container{width: 65%;}
  .blogs-images img{height: 400px;}
}

@media screen and (min-width: 1501px){
  .kors-colormatic{font-size: 130px;}
  .about-kors{ top: 100px;}
  .about-colormatic{ top: 400px;}
}
