*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GothamBold;
    src: url("../../font/GothamHTF-Bold.otf");
}
@font-face {
    font-family: GothamLight;
    src: url("../../font/GothamRnd-Light.otf");
}
@font-face {
    font-family: GothamRegular;
    src: url("../../font/GothamRnd-Book.otf");
}
@font-face {
    font-family: GothamCondensedBold;
    src: url("../../font/GothamCondensed-Bold.otf");
}
@font-face {
    font-family: GothamCondensedMedium;
    src: url("../../font/GothamCondensed-Medium.otf");
}
@font-face {
    font-family: GothamCondensedLightRegular;
    src: url("../../font/GothamCondensed-Light-Regular.otf");
}
@font-face {
    font-family: GothamCondensedLight;
    src: url("../../font/GothamCondensed-Light.otf");
}
img{width: 100%;}
.product-container{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.product-top-deco{
  position: absolute;
  width: 100%;
  padding-left: 25%;
}
.product-left-deco{
  position: absolute;
  width: 18%;
  left: 0px;
  top: 200px;
}
.product-left-line{
  position: absolute;
  width: 18%;
  left: -50px;
  top: 200px;
}
.product-right-line{
  position: absolute;
  width: 32%;
  left: calc(100vw - 30%);
  top: 50px;
}
.product-bottom-line{
  position: absolute;
  width: 17px;
  left: 80px;
  top: calc(100% - 315px);
}
.product-dots-deco{
  position: absolute;
  width: 18%;
  top: 270px;
  left: 50px;
}
.product-arrows-deco{
  position: absolute;
  width: 45px;
  top: 220px;
  left: 25%;
}
.product-plus-deco{
  position: absolute;
  width: 82px;
  left: 13%;
  top: 700px;
}
.product-back-symbol{
  position: absolute;
  width: 60px;
  top: 80px;
  left: 50px;
}
.product-details-container{
  position: relative;
  width: 65%;
  z-index: 1;
  display: flex;
  margin-top: 200px;
  left: 30%;
  max-width: 1000px;
}
.product-img-container{
  position: relative;
  width: 50%;
  display: flex;
  padding: 0 20px;
}
.product-image{
  position: relative;
  width: 100%;
}
.product-image img{
  width: 100%;
  max-width: 370px;
  margin: auto;
  max-height: 660px;
}
.product-properties{
  position: relative;
  width: 50%;
  text-align: center;
}
.yellow-background{
  width: 92%;
  height: 50%;
  position: absolute;
  top: 160px;
  background: yellow;
}
.product-code{
  font-size: 16px;
  position: relative;
  font-family: "GothamRegular";
  font-weight: bold;
  padding: 10px;
}
.product-deco-lines{
  width: 80%;
  position: relative;
  text-align: left;
}
.product-deco-lines img{
  width: 100%;
}
.product-name{
  position: relative;
  font-size: 24px;
  font-family: "GothamBold";
  padding: 10px;
}
.ingredients{
  position: relative;
  width: 75%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  padding-top: 30px;
  margin: auto;
  text-align: left;
  font-weight: bolder;
  font-size: 14px;
  line-height: 1.5;
  font-family: "GothamRegular";
  box-sizing: border-box;
}
.properties{
  position: relative;
  width: 75%;
  border: 1px solid #000;
  padding: 10px;
  padding-bottom: 50px;
  margin: auto;
  text-align: left;
  font-size: 15px;
  font-weight: bolder;
  line-height: 1.5;
  font-family: "GothamRegular";
  box-sizing: border-box;
}
.properties p{
  font-size: 14px;
}
ul li{
  list-style-type: none;
}
.product-mobile-colors-container{
  position: relative;
  display: none;
  width: 33%;
}
.product-mobile-colors-title{
  position: relative;
  line-height: normal;
  font-size: 12px;
  text-align: left;
  font-family: "GothamRegular";
  font-weight: bold;
  padding: 2px;
}
.product-mobile-colors-title-line{
  position: relative;
  width: 70%;
  border: 1px solid #000;
  height: 2px;
  margin-bottom: 5px;
}
.product-mobile-colors{
  position: relative;
  display: flex;
  flex-direction: column;
}
.mobile-color-container{
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: normal;
  text-align: center;
  padding: 10px;
}
.mobile-color-box{
  position: relative;
  width: 100%;
  padding: 5px;
}
.mobile-color-name{
  font-size: 8px;
  font-family: "GothamBold";
}
.product-colors-container{
  position: relative;
  display: block;
  left: 26%;
  margin-bottom: 50px;
}
.product-colors-title{
  position: relative;
  line-height: normal;
  font-size: 17px;
  text-align: left;
  font-family: "GothamRegular";
  font-weight: bold;
  padding: 2px;
}
.product-colors{
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}
.color-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 120px;
  line-height: normal;
  text-align: center;
  padding: 5px 10px;
}
.color-num{
  font-size: 21px;
  font-family: "GothamBold";
}
.color-box{
  position: relative;
  width: 100%;
  padding: 5px;
}
.color{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}
.natural-black{background: #000000;}
.wine-red{background: #95171A;}
.dark-brown{background: #4B2403;}
.burgundy{background: #52090A;}
.golden-blonde{background: #E29F2C;}
.color-name{
  font-size: 12px;
  font-family: "GothamBold";
}
.colors-line-seperator{
  border: 1px solid #000;
  width: 2px;
  height: 100px;
}

@media screen and (min-width: 320px) and (max-width: 420px){
    .product-left-deco{width: 60%; top: 80px;}
    .product-dots-deco{min-width: 200px; left: -40%; top: 100px;}
    .product-arrows-deco{width: 24px; left: 2%; top:450px;}
    .product-back-symbol{width: 32px; top: 20px; left: 20px;}
    .product-plus-deco{display: none;}
    .product-left-line{min-width: 80px; top: 50px;}
    .product-right-line{top: 20px; display: none;}
    .product-bottom-line{display: none;}
    .product-details-container{ display: block; width: 92%; margin-top: 50px; left: 5%;}
    .product-img-container{ position: relative; width: 100%; padding: 0 5px;}
    .product-mobile-colors-container{ display: block;}
    .product-properties{ width: 100%; padding-bottom: 40px;}
    .product-colors-container{display: none;}
}
@media screen and (min-width: 421px) and (max-width: 760px){
    .product-left-deco{width: 40%; top: 100px;}
    .product-dots-deco{min-width: 250px; left: -20%; top: 200px;}
    .product-arrows-deco{width: 32px; left: 8%; top:550px;}
    .product-back-symbol{width: 50px; top: 50px; left: 30px;}
    .product-plus-deco{display: none;}
    .product-left-line{min-width: 150px; top: 100px;}
    .product-right-line{top: 20px; display: none;}
    .product-bottom-line{display: none;}
    .product-details-container{ display: block; width: 80%; margin-top: 100px; left: 15%;}
    .product-img-container{ position: relative; width: 100%; padding: 0 5px;}
    .product-mobile-colors-container{ display: block;}
    .product-mobile-colors-title-line{width: 80%;}
    .product-properties{ width: 100%; padding-bottom: 40px;}
    .product-colors-container{display: none;}
}
@media screen and (min-width: 421px) and (max-width: 530px){
    .product-mobile-colors-title{font-size: 17px; padding: 5px;}
    .mobile-color-name{ font-size: 8px;}
    .mobile-color-container{ padding: 10px;}
    .mobile-color-box{ padding: 7px;}
}

@media screen and (min-width: 531px) and (max-width: 650px){
    .product-mobile-colors-title{font-size: 17px; padding: 8px;}
    .mobile-color-name{font-size: 10px;}
    .mobile-color-container{ padding: 15px;}
    .mobile-color-box{padding: 10px;}
}
@media screen and (min-width: 651px) and (max-width: 760px){
    .product-mobile-colors-title{font-size: 18px; padding: 10px;}
    .mobile-color-name{font-size: 12px;}
    .product-image img{ max-height: 720px; max-width: 420px;}
    .mobile-color-container{ padding: 20px;}
    .mobile-color-box{padding: 15px;}
}
@media screen and (min-width: 761px) and (max-width: 1060px){
    .product-arrows-deco{width: 32px; left: 30px; top:500px;}
    .product-plus-deco{width: 50px; top: 600px;}
    .product-bottom-line{left: 70px; width: 14px; top: calc(100% - 250px);}
    .product-details-container{ width: 80%; margin-top: 150px; left: 15%;}
    .product-img-container{ position: relative; width: 100%; padding: 0 5px;}
    .product-mobile-colors-container{ display: none;}
    .product-properties{ width: 100%; padding-bottom: 40px;}
    .product-colors-container{display: block; left: 16%; padding-top: 20px;}
}
@media screen and (min-width: 1361px){
    .product-colors-container{ left: 40%; padding-top: 20px;}
}
