*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GothamBold;
    src: url("../../font/GothamHTF-Bold.otf");
}
@font-face {
    font-family: GothamLight;
    src: url("../../font/GothamRnd-Light.otf");
}
@font-face {
    font-family: GothamRegular;
    src: url("../../font/GothamRnd-Book.otf");
}
@font-face {
    font-family: GothamCondensedBold;
    src: url("../../font/GothamCondensed-Bold.otf");
}
@font-face {
    font-family: GothamCondensedMedium;
    src: url("../../font/GothamCondensed-Medium.otf");
}
@font-face {
    font-family: GothamCondensedLightRegular;
    src: url("../../font/GothamCondensed-Light-Regular.otf");
}
@font-face {
    font-family: GothamCondensedLight;
    src: url("../../font/GothamCondensed-Light.otf");
}
/* img{width: 100%;} */

.about-us-container{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.about-back{
  position: absolute;
  top: 80px;
  left: 50px;
  width: 60px;
}
.about-deco-1{
  position: absolute;
  padding-left: 36%;
  width: 100%;
  /* height: 490.66px; */
}
.about-deco-2{
  position: absolute;
  padding-left: 33%;
  width: 100%;
  top: 160px;
  /* height: 490.66px; */
}
.about-deco-3{
  position: absolute;
  padding: 20px;
  width: 270px;
  /* height: 240px; */
  top: 500px;
}
.about-deco-4{
  position: absolute;
  width: 72px;
  top:470px;
  left: 10%;
}
.about-deco-5{
  position: absolute;
  width: 52px;
  top:350px;
  left: 4%;
}
.about-deco-6{
  position: absolute;
  width: 380px;
  top:220px;
  left: -20%;
}
.about-deco-7{
  position: absolute;
  width: 480px;
  top: 30px;
  left: calc(100vw - 480px);
}
.about-deco-8{
  position: absolute;
  width: 333px;
  top:600px;
  left: 12%;
}
.about-deco-9{
  position: absolute;
  width: 17%;
  top:42%;
  filter: drop-shadow(0px 0px 40px #bbb);
}
.about-deco-10{
  position: absolute;
  width: 12%;
  top: calc(42% + 250px);
  left: 7%;
}
.about-deco-11{
  position: absolute;
  width: 10%;
  top: calc(60%);
  left: -2%;
}
.about-deco-12{
  position: absolute;
  width: 10%;
  top: calc(70%);
  left: 5%;
}
.about-deco-13{
  position: absolute;
  width: 8%;
  top: calc(78%);
  left: 12%;
}
.about-deco-16{
  position: absolute;
  width: 48px;
  top: calc(85%);
  left: calc(80%);
  z-index: 1;
}
.about-deco-14{
  position: absolute;
  width: 100%;
  top:40%;
}
.about-deco-15{
  position: absolute;
  width: 95%;
  top: 100%;
  height: 420px;
}
.about-us-text-container{
  position: relative;
  width: 70%;
  margin-top: 120px;
  margin-left: 22%;
  margin-bottom: 350px;
  padding: 100px 40px;
  padding-bottom: 50px;
  z-index: 1;
  /* background: rgb(200,200,200); */
}
.about-us-text-background{
  position: absolute;
  width: 70%;
  top: 120px;
  left: 22%;
  height: 80%;
  padding: 100px 40px;
  padding-bottom: 50px;
  background-color: #fff;
  opacity: 0.8;
}
.about-us-side-header{
  position: relative;
  padding: 40px 0;
  font-size: 64px;
  text-transform: uppercase;
  font-family: "GothamBold";
}
p{
  font-size: 22px;
  padding-bottom: 20px;
  font-family: "GothamRegular";
}
.bold{
  font-family: "GothamBold";
}
.about-us-header{
  position: absolute;
  font-size: 72px;
  top: -60px;
  left: -60px;
  font-family: "GothamBold";
}
